flows_debian.json
[{"id":"b00bbb29.9619f","type":"tab","label":"Gestio de fitxers","disabled":false,"info":""},{"id":"1aba407a.b21bf8","type":"tab","label":"Reports","disabled":false,"info":""},{"id":"fd786c9e.d47c4","type":"tab","label":"D Consums","disabled":false,"info":""},{"id":"f651d664.7bccb","type":"tab","label":"Dash","disabled":false,"info":""},{"id":"12ff9637.cf899a","type":"tab","label":"Simple Web","disabled":false,"info":""},{"id":"21029f21.9d8428","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"168b77ff.18bee8","type":"subflow","name":"Persistence Helper","info":"","in":[{"x":45.5,"y":85,"wires":[{"id":"fe708cea.39ebb"}]}],"out":[{"x":749.5,"y":53,"wires":[{"id":"8853949c.6cb32","port":0}]},{"x":755,"y":169,"wires":[{"id":"6afd3bb2.3095bc","port":0}]}]},{"id":"e0eb14a1.2f703","type":"ui_group","z":"","name":"Pressió","tab":"afe1629.7c18ba","order":1,"disp":true,"width":"6","collapse":false},{"id":"859f0fba.ac204","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3},{"id":"a9dadc2b.fb1a98","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","order":4},{"id":"dcb75716.0ff4c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6c4030a.51b4cd","type":"ui_group","z":"","name":"Discret","tab":"a9dadc2b.fb1a98","disp":true,"width":"6","collapse":false},{"id":"5555cb24.6100ec","type":"ui_group","z":"","name":"Inici","tab":"859f0fba.ac204","disp":true,"width":"7","collapse":false},{"id":"ae25167a.b56808","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":2},{"id":"b607da31.42adf","type":"ui_group","z":"","name":"Reports","tab":"ae25167a.b56808","disp":false,"width":"27","collapse":false},{"id":"448bd2b.290742c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"test01","tz":""},{"id":"b7e49a1d.8ad2d","type":"ui_group","z":"","name":"Charts","tab":"3dc92dfd.f7555a","order":2,"disp":false,"width":"6"},{"id":"8255260a.d07258","type":"ui_group","z":"","name":"Inputs","tab":"3dc92dfd.f7555a","order":1,"disp":false,"width":"6"},{"id":"b87383ab.c9b818","type":"ui_group","z":"","name":"Group 3","tab":"3dc92dfd.f7555a","order":3,"disp":false,"width":"6"},{"id":"3dc92dfd.f7555a","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":8},{"id":"8cc5dadc.12d7e","type":"ui_group","z":"","name":"Charts","tab":"2cc85b62.a19d1c","order":2,"disp":false,"width":"6"},{"id":"c739902e.393308","type":"ui_group","z":"","name":"Inputs","tab":"2cc85b62.a19d1c","order":1,"disp":false,"width":"6"},{"id":"ea66ec6d.468d88","type":"ui_group","z":"","name":"Group 3","tab":"2cc85b62.a19d1c","order":3,"disp":false,"width":"6"},{"id":"2cc85b62.a19d1c","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":9},{"id":"97d48cad.e6d928","type":"ui_group","z":"","name":"Form","tab":"ae25167a.b56808","order":2,"disp":false,"width":"6","collapse":false},{"id":"125222bb.1290b5","type":"ui_group","z":"1aba407a.b21bf8","name":"Default","tab":"8e833b3b.338398","disp":true,"width":"6"},{"id":"8e833b3b.338398","type":"ui_tab","z":"1aba407a.b21bf8","name":"Test","icon":"dashboard","order":5},{"id":"bb758136.9b581","type":"ui_group","z":"1aba407a.b21bf8","name":"Default","tab":"4dc5f328.0fe984","disp":true,"width":"6"},{"id":"4dc5f328.0fe984","type":"ui_tab","z":"1aba407a.b21bf8","name":"Test","icon":"dashboard","order":6},{"id":"30cb7505.e71172","type":"ui_tab","z":"","name":"Date Picker","icon":"dashboard","order":7},{"id":"e3142c72.c2c74","type":"ui_group","z":"","name":"Group 1","tab":"30cb7505.e71172","order":1,"disp":true,"width":"6"},{"id":"32503a55.7b0ebe","type":"ui_group","name":"Group 1","tab":"ce80b902.91fac","order":1,"disp":true,"width":6},{"id":"afe1629.7c18ba","type":"ui_tab","z":"","name":"Consums","icon":"dashboard","order":1},{"id":"335f208e.cc217","type":"ui_group","z":"","name":"Consums","tab":"afe1629.7c18ba","order":3,"disp":true,"width":"6","collapse":false},{"id":"854d795d.1110d","type":"ui_group","z":"","name":"Consums 2","tab":"afe1629.7c18ba","order":4,"disp":true,"width":"6","collapse":false},{"id":"51201bf8.90d7f4","type":"ui_group","z":"","name":"Consums 3","tab":"afe1629.7c18ba","order":5,"disp":true,"width":"6","collapse":false},{"id":"cb145ff3.54ae28","type":"ui_group","z":"","name":"Temperatura","tab":"afe1629.7c18ba","order":2,"disp":true,"width":"6","collapse":false},{"id":"a4c6fe30.a34038","type":"ui_button","z":"f651d664.7bccb","name":"","group":"6c4030a.51b4cd","order":2,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"Bon dia !","payloadType":"str","topic":"","x":70,"y":200,"wires":[["5f8c5954.fb132","1b1b6cba.ef81a3","a4a76319.2fa7c8","6227fa05.d53814"]]},{"id":"1b1b6cba.ef81a3","type":"debug","z":"f651d664.7bccb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":200,"wires":[]},{"id":"5f8c5954.fb132","type":"ui_text","z":"f651d664.7bccb","group":"6c4030a.51b4cd","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":140,"wires":[]},{"id":"c177cb2b.04637","type":"http in","z":"12ff9637.cf899a","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":260,"y":160,"wires":[["bec03c05.5f9ad8"]]},{"id":"bec03c05.5f9ad8","type":"template","z":"12ff9637.cf899a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n        <head>\n            <title>Node red custom site</title>\n        </head>\n        <body>\n            <h1>Hello world!</h1>\n            <p>Your text here</p>\n        </body>\n</html>","output":"str","x":460,"y":160,"wires":[["fc9f6b9e.619cc8"]]},{"id":"fc9f6b9e.619cc8","type":"http response","z":"12ff9637.cf899a","name":"","statusCode":"","headers":{},"x":680,"y":160,"wires":[]},{"id":"a4a76319.2fa7c8","type":"ui_audio","z":"f651d664.7bccb","name":"","group":"6c4030a.51b4cd","voice":"ca","always":"","x":300,"y":80,"wires":[]},{"id":"6227fa05.d53814","type":"ui_toast","z":"f651d664.7bccb","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":330,"y":260,"wires":[]},{"id":"6aa762e7.c62ab4","type":"ui_gauge","z":"f651d664.7bccb","name":"","group":"5555cb24.6100ec","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":610,"y":400,"wires":[]},{"id":"2fe0ac96.19e1fc","type":"ui_slider","z":"f651d664.7bccb","name":"","label":"slider","group":"5555cb24.6100ec","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"200","step":1,"x":410,"y":400,"wires":[["6aa762e7.c62ab4","748873a2.cf3184","53103106.91926"]]},{"id":"53103106.91926","type":"ui_chart","z":"f651d664.7bccb","name":"","group":"5555cb24.6100ec","order":0,"width":"4","height":"3","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":480,"wires":[[],[]]},{"id":"748873a2.cf3184","type":"ui_chart","z":"f651d664.7bccb","name":"","group":"5555cb24.6100ec","order":0,"width":"2","height":"3","label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":560,"wires":[[],[]]},{"id":"f25e74d9.497e8","type":"function","z":"b00bbb29.9619f","name":"loop","func":"\nvar date = new Date();\nvar dateMs = new Date();\nvar number_msg = { payload: msg.payload };\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//Donem valor aleatoris segons el número de vegades que hem entrat a la funció:\n// si estem per sota de 250 valors dins de rang\n// entre 251 i 500 valors fora de rang\n// entre 501 i 750 varlos dins de rang\n// despreś parem.\n//Els números estan limitats a 3 decimals\n\n if (context.loops < 10) {\n    rnd = Math.random() * (50 - 30) + 30;\n    rnd = rnd.toFixed(3);\n} else {\n        if (context.loops >= 10 && context.loops < 20) {\n            rnd = Math.random() * (80 - 55) + 55;\n            rnd = rnd.toFixed(3);\n        }   else {\n                if (context.loops >= 20 && context.loops < 30) {\n                    rnd = Math.random() * (50 - 30) + 30;\n                    rnd = rnd.toFixed(3);\n                }   else {\n                    msg.payload = \"stop\";\n                    }\n            }\n}\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\tcontext.loops = 0;\n\t\treturn [msg,null,null];\n\tcase \"start\":\n\t\t//msg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\tmsg.payload = \"started:\" + context.loops + \" Numero: \" + rnd;\n\t\tdate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) +\n            ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2) + \n            '.' + ('000' + date.getMilliseconds()).slice(-3));\n        dateMs = Date.parse(date);\n\t\tnumber_msg.payload = ';' + 'PLC01' + ';' + 'sensor01' + ';' + rnd + \";\" + dateMs + \";\" + date;\n\t\treturn [msg,msg,number_msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops + \" Numero: \" + rnd;\n\t\t\tdate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) +\n                ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2) + \n                '.' + ('000' + date.getMilliseconds()).slice(-3));\n            dateMs = Date.parse(date);\n\t\t\tnumber_msg.payload = ';' + 'PLC01' + ';' + 'sensor01' + ';' + rnd + \";\" + dateMs + \";\" + date;\n\t\t\treturn [msg,msg,number_msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":3,"noerr":0,"x":1010,"y":400,"wires":[[],[],[]]},{"id":"fc272657.f05688","type":"debug","z":"b00bbb29.9619f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":200,"wires":[]},{"id":"775a53fc.64e0e4","type":"delay","z":"b00bbb29.9619f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":360,"wires":[["d5528a14.fe0f58"]]},{"id":"e5ce65c2.85663","type":"inject","z":"b00bbb29.9619f","name":"start loop","topic":"loop","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":260,"wires":[["d5528a14.fe0f58"]]},{"id":"7cffcd8c.8c90ac","type":"inject","z":"b00bbb29.9619f","name":"stop loop","topic":"loop","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":320,"wires":[["d5528a14.fe0f58"]]},{"id":"b15bb423.605c58","type":"file","z":"b00bbb29.9619f","name":"","filename":"/home/jordi/NodeRed/fitxer.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":730,"y":260,"wires":[[]]},{"id":"e64d4ddb.30091","type":"inject","z":"b00bbb29.9619f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["f37386b7.603fd8"]]},{"id":"f37386b7.603fd8","type":"file","z":"b00bbb29.9619f","name":"","filename":"/home/jordi/NodeRed/fitxer.txt","appendNewline":true,"createDir":true,"overwriteFile":"delete","x":530,"y":460,"wires":[[]]},{"id":"59af8ee4.864b9","type":"comment","z":"b00bbb29.9619f","name":"Gestió del fitxer que genera els valors","info":"Aquest \"flow\" es per crear dades amb valors aleatoris per guardar-les en un fitxer.\nEls valors es guardan en el fitxer per després poder ser importants en una BBDD MySql\nInjectem els valors en la base de dades directament","x":430,"y":80,"wires":[]},{"id":"2d61fa7e.026986","type":"function","z":"21029f21.9d8428","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":330,"y":520,"wires":[["ef33e645.44557","6658a7e3.3a0158","e243eb95.5b887","24d508c5.abc9b"]]},{"id":"ef33e645.44557","type":"ui_chart","z":"21029f21.9d8428","name":"","group":"b7e49a1d.8ad2d","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":260,"wires":[[],[]]},{"id":"82eb5ad9.343828","type":"function","z":"21029f21.9d8428","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["ef33e645.44557"]]},{"id":"6db28c9d.29809c","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":360,"wires":[["82eb5ad9.343828"]]},{"id":"6658a7e3.3a0158","type":"ui_chart","z":"21029f21.9d8428","name":"","group":"b7e49a1d.8ad2d","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":320,"wires":[[],[]]},{"id":"5dd59bf4.0d9d14","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":520,"wires":[["2d61fa7e.026986"]]},{"id":"9f28902c.24bd8","type":"inject","z":"21029f21.9d8428","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":720,"wires":[[]]},{"id":"f21e1e7a.a7209","type":"function","z":"21029f21.9d8428","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["ef33e645.44557","6658a7e3.3a0158","e243eb95.5b887","24d508c5.abc9b"]]},{"id":"5c9e1e84.6f6","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":560,"wires":[["f21e1e7a.a7209"]]},{"id":"a858beeb.4a5ed","type":"function","z":"21029f21.9d8428","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["ef33e645.44557"]]},{"id":"1826fd39.ef2c53","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":400,"wires":[["a858beeb.4a5ed"]]},{"id":"e68b2d6a.e2da98","type":"function","z":"21029f21.9d8428","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":350,"y":760,"wires":[["24d508c5.abc9b","6658a7e3.3a0158","ef33e645.44557","2dc4b295.41218e","9f106c82.87515","e243eb95.5b887"]]},{"id":"24d508c5.abc9b","type":"ui_chart","z":"21029f21.9d8428","name":"pie chart","group":"b7e49a1d.8ad2d","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":500,"wires":[[],[]]},{"id":"f1f0f75c.14bf1","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":190,"y":760,"wires":[["e68b2d6a.e2da98"]]},{"id":"6722ef49.a6dca","type":"function","z":"21029f21.9d8428","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["ef33e645.44557"]]},{"id":"7973499.7207638","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":440,"wires":[["6722ef49.a6dca"]]},{"id":"badb0a9.88e9678","type":"function","z":"21029f21.9d8428","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["ef33e645.44557"]]},{"id":"aec4da50.395268","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":480,"wires":[["badb0a9.88e9678"]]},{"id":"fe6f42a.aa87c4","type":"function","z":"21029f21.9d8428","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":330,"y":680,"wires":[["ef33e645.44557","6658a7e3.3a0158","24d508c5.abc9b","2dc4b295.41218e","9f106c82.87515","e243eb95.5b887"]]},{"id":"5752981e.d49658","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":680,"wires":[["fe6f42a.aa87c4"]]},{"id":"5230c294.5c2edc","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":200,"y":800,"wires":[["68dffd9.3bd5804"]]},{"id":"68dffd9.3bd5804","type":"function","z":"21029f21.9d8428","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":350,"y":800,"wires":[["24d508c5.abc9b","6658a7e3.3a0158","9f106c82.87515","2dc4b295.41218e","ef33e645.44557","e243eb95.5b887"]]},{"id":"7ddeb28c.53f00c","type":"function","z":"21029f21.9d8428","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["6658a7e3.3a0158","24d508c5.abc9b","ef33e645.44557","e243eb95.5b887"]]},{"id":"9fbcf93a.ee4bc8","type":"inject","z":"21029f21.9d8428","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":320,"wires":[["7ddeb28c.53f00c"]]},{"id":"db6f8cd0.6b041","type":"function","z":"21029f21.9d8428","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["6658a7e3.3a0158","24d508c5.abc9b","ef33e645.44557","e243eb95.5b887"]]},{"id":"dcd6c0a1.f6c608","type":"inject","z":"21029f21.9d8428","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":280,"wires":[["db6f8cd0.6b041"]]},{"id":"568c0f92.88132","type":"function","z":"21029f21.9d8428","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":330,"y":600,"wires":[["6658a7e3.3a0158","2dc4b295.41218e","9f106c82.87515","ef33e645.44557","e243eb95.5b887","24d508c5.abc9b"]]},{"id":"ab60916e.5baa18","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":600,"wires":[["568c0f92.88132"]]},{"id":"1bbb6819.e399f8","type":"function","z":"21029f21.9d8428","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":330,"y":640,"wires":[["6658a7e3.3a0158","ef33e645.44557","9f106c82.87515","2dc4b295.41218e","e243eb95.5b887","24d508c5.abc9b"]]},{"id":"294745b.004f1ba","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":640,"wires":[["1bbb6819.e399f8"]]},{"id":"e243eb95.5b887","type":"ui_chart","z":"21029f21.9d8428","name":"","group":"b87383ab.c9b818","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":620,"y":380,"wires":[[],[]]},{"id":"2dc4b295.41218e","type":"ui_chart","z":"21029f21.9d8428","name":"","group":"b87383ab.c9b818","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":620,"wires":[[],[]]},{"id":"9f106c82.87515","type":"ui_chart","z":"21029f21.9d8428","name":"","group":"b87383ab.c9b818","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":680,"wires":[[],[]]},{"id":"65d6df1d.37d19","type":"function","z":"21029f21.9d8428","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["24d508c5.abc9b","6658a7e3.3a0158","ef33e645.44557","e243eb95.5b887"]]},{"id":"3b26c2cb.13f336","type":"inject","z":"21029f21.9d8428","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":240,"wires":[["65d6df1d.37d19"]]},{"id":"65d322e0.76d76c","type":"ui_button","z":"21029f21.9d8428","name":"","group":"8255260a.d07258","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":320,"y":200,"wires":[["9f106c82.87515","2dc4b295.41218e","24d508c5.abc9b","e243eb95.5b887","6658a7e3.3a0158","ef33e645.44557"]]},{"id":"d824578.32719a8","type":"ui_form","z":"1aba407a.b21bf8","name":"Periode per analitzar","label":"Periode per analitzar","group":"97d48cad.e6d928","order":2,"width":"0","height":"0","options":[{"label":"Data Inici","value":"Periode/Inici","type":"text","required":false},{"label":"Data Fi","value":"Periode/Fi","type":"text","required":false},{"label":"Periode: Ultima Hora","value":"Periode/Hora","type":"checkbox","required":false},{"label":"Periode: Avui","value":"Periode/Avui","type":"checkbox","required":false},{"label":"Periode: Ahir","value":"Periode/Ahir","type":"checkbox","required":false},{"label":"Periode: Setmana","value":"Periode/Setmana","type":"checkbox","required":false},{"label":"Dispositiu: Temperatura","value":"PLC01/Sensor01","type":"checkbox","required":false}],"formValue":{"Periode/Inici":"","Periode/Fi":"","Periode/Hora":false,"Periode/Avui":false,"Periode/Ahir":false,"Periode/Setmana":false,"PLC01/Sensor01":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":360,"y":140,"wires":[["216ee83c.c894f8"]]},{"id":"216ee83c.c894f8","type":"function","z":"1aba407a.b21bf8","name":"SQL","func":"//Funció per fer una SELECT dels periodes a visualitzar\n//En el cas d'entrar la data manualment s'ha de tenir en compte que el format que enten l'script és: aaaa-mm-dd hh:mm:ss.mmm\nvar Hora = 3600000 ; // 1 hora en ms\nvar Dia = 86400000 ; // 1 dia en ms\nvar Setmana = 604800000 ; // 7 dies en ms\nvar d = new Date();\nvar DataActual = d.getTime();\nvar DesDeData = DataActual - Dia;\nvar FinsData = DataActual;\nvar Sortida = [];\n\n//Fem el bucle per recorrer cadascuna de les opcions seleccionades en el formulari\nfor (var property in msg.payload) { //property in msg.payload retorna totes les opcions del formulari: Periode/Inici Periode/Fi Periode/Hora Periode/Avui Periode/Ahir Periode/Setmana PLC01/Sensor01\n    if (msg.payload.hasOwnProperty(property)) {  //retorna un bolea si el objecte té la propietat especificada\n        if (msg.payload[property]) {\n            //console.log(\"msg.payload[property] \" + msg.payload[property]);\n            var parts = property.split(\"/\");\n            /* console.log(\"Parts \" + parts);\n            console.log(\"Parts0 \" + parts[0]);\n            console.log(\"Parts1: \" + parts[1]);*/\n            if (parts[0] === \"Periode\") {  //comparació estricta. Només es verdadera si els operands son del mateix tipus i els valors coincideixen\n                switch (parts[1]) {\n                    case \"Inici\" :\n                        var Inici = msg.payload[property] + \":00.000\";\n                        //console.log(\"Case Inici: \" + Inici);\n                        break; \n                    case \"Fi\" :\n                        var Fi = msg.payload[property] + \":00.000\";\n                        DesDeData = Date.parse(Inici);\n                        FinsData = Date.parse(Fi);\n                        //console.log(\"Case Fi: \" + Fi);\n                        //console.log(\"DesDeData: \" + DesDeData);\n                        //console.log(\"FinsData: \" + FinsData);\n                        break; \n                    case \"Hora\" :\n                        DesDeData = DataActual - Hora;\n                        FinsData = DataActual;\n                        break;\n                    case \"Avui\" :\n                        DesDeData = DataActual - Dia;\n                        FinsData = DataActual;\n                        break;\n                    case \"Ahir\" :\n                        DesDeData = DataActual - 2 * Dia;\n                        FinsData = DataActual - Dia;\n                        break;\n                    case \"Setmana\" :\n                        DesDeData = DataActual - Setmana;\n                        FinsData = DataActual;\n                        break;\n                }\n            } else { \n                //Sortida.push({topic: \"SELECT * FROM T_test01 WHERE dispositiu ='\" + parts[0] + \"' AND sensor = '\" + parts[1] + \"' AND TempsMs >= \" + DesDeData + \" AND TempsMs <= \" + FinsData })\n                Sortida.push({topic: \"SELECT valor, TempsMs FROM T_test01 WHERE dispositiu ='\" + parts[0] + \"' AND sensor = '\" + parts[1] + \"' AND TempsMs >= \" + DesDeData + \" AND TempsMs <= \" + FinsData })\n            }\n        }\n    }\n}\n\nSortida[Sortida.length-1].complete = true;\n\nreturn [Sortida];","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["d955294b.8bb448"]]},{"id":"d955294b.8bb448","type":"mysql","z":"1aba407a.b21bf8","mydb":"448bd2b.290742c","name":"","x":630,"y":200,"wires":[["9c453a79.2375f","87539e7e.df3248"]]},{"id":"2ac03806.993bc8","type":"inject","z":"1aba407a.b21bf8","name":"","topic":"Reset Chart","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":320,"wires":[["f3789a0f.4231d8"]]},{"id":"f3789a0f.4231d8","type":"function","z":"1aba407a.b21bf8","name":"Buidar payload","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["c56db77e.d92cd8"]]},{"id":"c56db77e.d92cd8","type":"ui_chart","z":"1aba407a.b21bf8","name":"","group":"b607da31.42adf","order":1,"width":"0","height":"0","label":"Històrics","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Black label","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1120,"y":320,"wires":[[],[]]},{"id":"db9b2b19.0e1a5","type":"function","z":"1aba407a.b21bf8","name":"Prep","func":"var EntradaMsg = [];\nvar SortidaChar = [];\nvar arraymig = [];\nvar longEntradaMsg = EntradaMsg.length;\nvar queryDDBB = msg.topic;\n//EntradaMsg = msg.payload;\n\n//console.log(Object.values(msg.payload));\nEntradaMsg = Object.values(msg.payload);\n//console.log(SortidaChar);\narraymig[0] = EntradaMsg[0];\nconsole.log(arraymig);\nSortidaChar = [{\"Series\": [\"\"], \"data\": [EntradaMsg], \"labels\": [\"\"] }]\n\n\nconsole.log(SortidaChar);\nmsg.payload = SortidaChar;\nreturn msg;\n\n//msg = SortidaChar;\n\n/*for (var i in EntradaMsg) {\n    \n   // var result = (EntradaMsg[i]);\n   // node.send({payload:result});\n   SortidaChar[i] = msg.payload[i].valor;\n   //SortidaChar.push({payload:EntradaMsg[i]});\n}\n*/\n\n//return msg;\n//return SortidaChar;\n\n/*\nSortidaChar = [{\n\"series\": [\"A\", \"B\", \"C\"],\n\"data\": [\n    [{ \"x\": 1504029632890, \"y\": 5 },\n     { \"x\": 1504029636001, \"y\": 4 },\n     { \"x\": 1504029638656, \"y\": 2 }\n    ],\n    [{ \"x\": 1504029633514, \"y\": 6 },\n     { \"x\": 1504029636622, \"y\": 7 },\n     { \"x\": 1504029639539, \"y\": 6 }\n    ],\n    [{ \"x\": 1504029634400, \"y\": 7 },\n     { \"x\": 1504029637959, \"y\": 7 },\n     { \"x\": 1504029640317, \"y\": 7 }\n    ]\n],\n\"labels\": [\"\"]\n\n}]\nconsole.log(SortidaChar);\nmsg.payload = SortidaChar;\nreturn msg;\n*/","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["5e096811.1146b8"]]},{"id":"5e096811.1146b8","type":"debug","z":"1aba407a.b21bf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":460,"wires":[]},{"id":"9c453a79.2375f","type":"debug","z":"1aba407a.b21bf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":140,"wires":[]},{"id":"87539e7e.df3248","type":"function","z":"1aba407a.b21bf8","name":"Prep","func":"// nom de la colummna que té els valors de temps\nvar temps = \"TempsMs\";\n// nom de la columna que ha de ser graficada (podrien ser varies series afegint per exemple [ \"rpm\", \"mph\", \"coolant\" ])\nvar cols = [\"valor\"];\n\n// iterem sobre cada columna que ha de ser graficada dels resultats de la consulta, en aquest cas només es una \"valor\"\nvar data = cols.map(function(col) {\n    // iterem sobre cada fila del resultat de la consulta\n    var vals = msg.payload.map(function(row) {\n            //retorna un punt per cada columna, en aquest cas el temps | valor\n            return [ +row[temps], +row[col] ];\n    }) \n    // retornem un objecte de dades per cada linia del gràfic (\"chart\")\n    return {key: col, values: vals};\n});\n\n// ara posem els nous valors del gràfic en el payload\nmsg.payload = data;\nreturn msg;\n\n\n/* exemple de la web\n// name of the time column values:\nvar tcol = \"time\";\n// list of columns to be charted:\nvar cols = [ \"rpm\", \"mph\", \"coolant\" ];\n\n// iterate over each column of the query results\nvar data = cols.map(function(col) {\n    // iterate over each row of the query results\n    var vals = msg.payload.map(function(row) {\n        // return a data point for each col\n        return [ +row[tcol], +row[col] ];\n    });\n\n    // return data object for each line on the chart\n    return { key: col, values: vals };\n});\n\n// now put the new chart data in the payload\nmsg.payload = data;\nreturn msg;\n*/","outputs":1,"noerr":0,"x":930,"y":220,"wires":[["91c3936d.2cbd48","c56db77e.d92cd8"]]},{"id":"91c3936d.2cbd48","type":"debug","z":"1aba407a.b21bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":220,"wires":[]},{"id":"d5430b36.64e8f","type":"comment","z":"1aba407a.b21bf8","name":"Com enviar dades d'una BBDD a un gràfic","info":"Aquestes funcions són per obtindre dades enviades des d'un formulari a una BBDD SQL.\nEn aquest cas en la funció SQL, creem la SELECT\nEl node Test01 és qui es connecta amb la BBDD i ens retorna un objecte amb el resultat de la query.\nLa funció \"Prep\" és la que ens prepara les dades obtingudes des de la query i ens la converteix en el format per poder ser llegit per l'objecte Chart","x":620,"y":100,"wires":[]},{"id":"d5528a14.fe0f58","type":"function","z":"b00bbb29.9619f","name":"loop","func":"//Aquesta funció genera dades aleatories amb timestamp i ho guarda a un fitxer i a una BBDD SQL\nvar date = new Date();\nvar dateMs = new Date();\nvar number_msg = { payload: msg.payload };\nvar sql = [];\nvar outputs = [];\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//Donem valor aleatoris segons el número de vegades que hem entrat a la funció:\n// si estem per sota de 250 valors dins de rang\n// entre 251 i 500 valors fora de rang\n// entre 501 i 750 varlos dins de rang\n// despreś parem.\n//Els números estan limitats a 3 decimals\n\n//msg.topic = \"INSERT INTO table (Id, Time, KWh1, KWh2, KWh3, Totalt) VALUES (id, CURTIME(), \" + CurrentEnergi1 + \", \" + CurrentEnergi2 + \", \" + CurrentEnergi3 + \", \" + TotalEnergi +\")\";\n//msg.topic = \"INSERT INTO T_test01 (dispositiu, sensor, valor, TempsMs, Temps) VALUES ('PLC01', 'sensor01', rnd, dateMs, date)\";\n//'PLC01' + ';' + 'sensor01' + ';' + rnd + \";\" + dateMs + \";\" + date;\n\n if (context.loops < 10) {\n    rnd = Math.random() * (50 - 30) + 30;\n    rnd = rnd.toFixed(3);\n} else {\n        if (context.loops >= 10 && context.loops < 20) {\n            rnd = Math.random() * (80 - 55) + 55;\n            rnd = rnd.toFixed(3);\n        }   else {\n                if (context.loops >= 20 && context.loops < 30) {\n                    rnd = Math.random() * (50 - 30) + 30;\n                    rnd = rnd.toFixed(3);\n                }   else {\n                    msg.payload = \"stop\";\n                    }\n            }\n}\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\tcontext.loops = 0;\n\t\treturn [msg,null,null];\n\tcase \"start\":\n\t\t//msg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\tmsg.payload = \"started:\" + context.loops + \" Numero: \" + rnd;\n\t\tdate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) +\n            ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2) + \n            '.' + ('000' + date.getMilliseconds()).slice(-3));\n            console.log(\"date: \" + date);\n        dateMs = Date.parse(date);\n\t\tnumber_msg.payload = ';' + 'PLC01' + ';' + 'sensor01' + ';' + rnd + \";\" + dateMs + \";\" + date;\n\t\tsql = \"INSERT INTO T_test01 (dispositiu, sensor, valor, TempsMs, Temps) VALUES ('PLC01', 'sensor01',\" + rnd + \",\" + dateMs + \",'\" + date +\"')\";\n\t\t//sql = \"INSERT INTO T_test01 (dispositiu, sensor, valor, TempsMs, Temps) VALUES ('PLC01', 'sensor01', '37.123', '1541185019779', '2018-11-02 19:56:59.779')\";\n\t\toutputs.push({topic:sql}); \n\t\treturn [msg,msg,number_msg,outputs];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops + \" Numero: \" + rnd;\n\t\t\tdate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) +\n                ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2) + \n                '.' + ('000' + date.getMilliseconds()).slice(-3));\n            dateMs = Date.parse(date);\n\t\t\tnumber_msg.payload = ';' + 'PLC01' + ';' + 'sensor01' + ';' + rnd + \";\" + dateMs + \";\" + date;\n\t\t\tsql = \"INSERT INTO T_test01 (dispositiu, sensor, valor, TempsMs, Temps) VALUES ('PLC01', 'sensor01',\" + rnd + \",\" + dateMs + \",'\" + date +\"')\";\n\t\t\t//sql = \"INSERT INTO T_test01 (dispositiu, sensor, valor, TempsMs, Temps) VALUES ('PLC01', 'sensor01', '37.123', '1541185019779', '2018-11-02 19:56:59.779')\";\n\t\t\toutputs.push({topic:sql}); \n\t\t\treturn [msg,msg,number_msg,outputs];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":4,"noerr":0,"x":430,"y":160,"wires":[["fc272657.f05688"],["775a53fc.64e0e4"],["b15bb423.605c58"],["64aff2f5.7c3f6c"]]},{"id":"64aff2f5.7c3f6c","type":"mysql","z":"b00bbb29.9619f","mydb":"448bd2b.290742c","name":"","x":650,"y":320,"wires":[[]]},{"id":"8853949c.6cb32","type":"change","z":"168b77ff.18bee8","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"restore","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589.5,"y":53,"wires":[[]]},{"id":"fe708cea.39ebb","type":"json","z":"168b77ff.18bee8","name":"","x":175.5,"y":85,"wires":[["8853949c.6cb32"]]},{"id":"1f8bb4cc.7d5393","type":"catch","z":"168b77ff.18bee8","name":"","scope":["fe708cea.39ebb"],"x":183.5,"y":117,"wires":[["af054b1c.3c16d8"]]},{"id":"af054b1c.3c16d8","type":"change","z":"168b77ff.18bee8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":354.5,"y":116,"wires":[["8853949c.6cb32"]]},{"id":"6afd3bb2.3095bc","type":"inject","z":"168b77ff.18bee8","name":"Trigger restore","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":618.5,"y":169,"wires":[[]]},{"id":"323c8d3f.b36aca","type":"ui_text","z":"1aba407a.b21bf8","group":"97d48cad.e6d928","order":1,"width":0,"height":0,"name":"","label":"Format de data","format":"aaaa-mm-dd hh:mm","layout":"row-spread","x":340,"y":220,"wires":[]},{"id":"4f9b4d1d.cb399c","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"335f208e.cc217","order":3,"width":0,"height":0,"gtype":"gage","title":"P","label":"KW","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"750","seg2":"1000","x":350,"y":140,"wires":[]},{"id":"bc7c39fb.def0d8","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Potencia Activa","group":"335f208e.cc217","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1500","step":1,"x":120,"y":140,"wires":[["4f9b4d1d.cb399c"]]},{"id":"a38c6ead.6c7878","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Potencia Reactiva","group":"335f208e.cc217","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1500","step":1,"x":130,"y":200,"wires":[["df88c9f4.67a838"]]},{"id":"df88c9f4.67a838","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"335f208e.cc217","order":5,"width":0,"height":0,"gtype":"gage","title":"Q","label":"KVA","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"750","seg2":"1000","x":350,"y":200,"wires":[]},{"id":"fb9e65cf.82d68","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Potencia Aparent","group":"335f208e.cc217","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"2000","step":1,"x":130,"y":80,"wires":[["856b6d98.0c4338"]]},{"id":"856b6d98.0c4338","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"335f208e.cc217","order":1,"width":0,"height":0,"gtype":"gage","title":"S","label":"KVA","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"750","seg2":"1000","x":350,"y":80,"wires":[]},{"id":"3da438e0.47064","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"854d795d.1110d","order":3,"width":0,"height":0,"gtype":"gage","title":"I L2","label":"A","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"750","x":350,"y":360,"wires":[]},{"id":"8a59bdd7.16038","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Intensitat L2","group":"854d795d.1110d","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1000","step":1,"x":110,"y":360,"wires":[["3da438e0.47064"]]},{"id":"bd782579.175ab8","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Intensitat L3","group":"854d795d.1110d","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1000","step":1,"x":110,"y":420,"wires":[["3da8aa9c.2d4816"]]},{"id":"3da8aa9c.2d4816","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"854d795d.1110d","order":5,"width":0,"height":0,"gtype":"gage","title":"I L3","label":"A","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"750","x":350,"y":420,"wires":[]},{"id":"3af947cd.d7e038","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Intensitat L1","group":"854d795d.1110d","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1000","step":1,"x":110,"y":300,"wires":[["2fad05b6.516b6a"]]},{"id":"2fad05b6.516b6a","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"854d795d.1110d","order":1,"width":0,"height":0,"gtype":"gage","title":"I L1","label":"A","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"750","x":350,"y":300,"wires":[]},{"id":"9da9e3a7.0fbf1","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"51201bf8.90d7f4","order":3,"width":0,"height":0,"gtype":"gage","title":"V L2","label":"V","format":"{{value}}","min":0,"max":"500","colors":["#ca3838","#00b500","#ca3838"],"seg1":"380","seg2":"420","x":350,"y":560,"wires":[]},{"id":"7a21107d.0ded3","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Tensió L2","group":"51201bf8.90d7f4","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"500","step":1,"x":100,"y":560,"wires":[["9da9e3a7.0fbf1"]]},{"id":"cad0d30.41707b","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Tensió L3","group":"51201bf8.90d7f4","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"500","step":1,"x":100,"y":620,"wires":[["4b0d56dd.2c63c8"]]},{"id":"4b0d56dd.2c63c8","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"51201bf8.90d7f4","order":5,"width":0,"height":0,"gtype":"gage","title":"V L3","label":"V","format":"{{value}}","min":0,"max":"500","colors":["#ca3838","#00b500","#ca3838"],"seg1":"380","seg2":"430","x":350,"y":620,"wires":[]},{"id":"95bcdfa7.e034c8","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Tensió L1","group":"51201bf8.90d7f4","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"500","step":1,"x":100,"y":500,"wires":[["db917e50.42fb48"]]},{"id":"db917e50.42fb48","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"51201bf8.90d7f4","order":1,"width":0,"height":0,"gtype":"gage","title":"V L1","label":"V","format":"{{value}}","min":0,"max":"500","colors":["#ca3838","#00b500","#ca3838"],"seg1":"380","seg2":"420","x":350,"y":500,"wires":[]},{"id":"dc85247.5638c58","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"e0eb14a1.2f703","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressió","label":"mmCA","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"20","x":800,"y":80,"wires":[]},{"id":"e88601fe.5655c","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Pressió","group":"e0eb14a1.2f703","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"30","step":1,"x":600,"y":80,"wires":[["dc85247.5638c58","1c6aa668.b81bd2","681df8e.9f35d88"]]},{"id":"681df8e.9f35d88","type":"ui_chart","z":"fd786c9e.d47c4","name":"","group":"e0eb14a1.2f703","order":3,"width":"0","height":"0","label":"Pressió","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":800,"y":160,"wires":[[],[]]},{"id":"1c6aa668.b81bd2","type":"ui_chart","z":"fd786c9e.d47c4","name":"","group":"e0eb14a1.2f703","order":4,"width":"0","height":"0","label":"Pressió","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":800,"y":240,"wires":[[],[]]},{"id":"dc76e9cf.f61788","type":"ui_gauge","z":"fd786c9e.d47c4","name":"","group":"cb145ff3.54ae28","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura 1","label":"ºC","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"150","x":800,"y":360,"wires":[]},{"id":"44bdb521.caa1a4","type":"ui_slider","z":"fd786c9e.d47c4","name":"","label":"Temperatura","group":"cb145ff3.54ae28","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"200","step":1,"x":590,"y":360,"wires":[["dc76e9cf.f61788","2dccc937.c7e31e","70337c.35e28484"]]},{"id":"70337c.35e28484","type":"ui_chart","z":"fd786c9e.d47c4","name":"","group":"cb145ff3.54ae28","order":2,"width":"0","height":"0","label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":440,"wires":[[],[]]},{"id":"2dccc937.c7e31e","type":"ui_chart","z":"fd786c9e.d47c4","name":"","group":"cb145ff3.54ae28","order":4,"width":"0","height":"0","label":"Temperatura","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":520,"wires":[[],[]]},{"id":"25c3bcde.887f54","type":"e-mail","z":"b00bbb29.9619f","server":"smtp.serviciodecorreo.es","port":"465","secure":true,"name":"antonio.pelegrin@gmail.com","dname":"","x":480,"y":560,"wires":[]},{"id":"6e3ccda1.62bebc","type":"inject","z":"b00bbb29.9619f","name":"","topic":"Subject: Missatge enviat des de node-red","payload":"Suposo que t'arribarà aquest missatge. L'he enviat des de node-red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":560,"wires":[["25c3bcde.887f54"]]}]